/* 원본 https://codepen.io/ThomasDaubenton/pen/QMqaBN */

.chat {
  /* width: calc(65% - 85px); */
}

.header-chat {
  background-color: #fff;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color: #515151;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  color: #515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  /* padding: 25px 35px; */
}

.chat .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
  display: block;
  width: 45px;
  height: 45px;
  background: #e6e7ed;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.time {
  font-size: 10px;
  color: rgba(122, 122, 122, 0.938);
  margin-bottom: 10px;
  margin-left: 40px;
}
.date {
  font-size: 12px;
  color: rgb(97, 97, 97);
  margin-bottom: 10px;
  margin-left: 40px;
}

.response-time {
  /* float: right; 이거쓰면 요소가 block이 아니게됨, 아래로 바꾸면 블럭 유지하면서 오른쪽 */
  text-align: right;
  margin-right: 40px !important;
}

.response {
  display: flex;
  float: right;
  margin-right: 0px !important;
  margin-left: auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.footer-chat {
  width: calc(65% - 66px);
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #eee;
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color: #c0c0c0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color: #fff;
  background-color: #4f6ebd;
  position: absolute;
  right: 50px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  color: #515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border: none !important;
  width: 60%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
  margin-left: 5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* 0도 회전에서 시작 */
  }
  to {
    transform: rotate(360deg); /* 360도 회전까지 애니메이션 진행 */
  }
}
#floatingButton {
  position: fixed; /* 화면에 고정 */
  bottom: 90px; /* 아래에서 20px 떨어져 있도록 설정 */
  left: 50%; /* 왼쪽 여백을 화면의 가운데로 조정 */
  transform: translateX(
    -50%
  ); /* 가로 방향으로 50%만큼 왼쪽으로 이동하여 가운데 정렬 */
  z-index: 9999; /* 다른 요소들 위에 표시되도록 설정 */
  background-color: #cbd7f7; /* 배경색 설정 */
  color: black; /* 글자색 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 20px; /* 모서리를 둥글게 만듦 */
  padding: 10px 20px; /* 내부 여백 설정 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 것을 나타냄 */
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.floating-down-button {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(230, 231, 237, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
